
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form class="form-signin">
  <h2 class="form-signin-heading">Please login</h2>
  <label for="inputCName" class="sr-only">Clinician Name</label>
  <input name="CName" [(ngModel)] = "user.username" type="text" id="inputCname" class="form-control" placeholder="Clinician Name" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input name="password" [(ngModel)] = "user.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <button class="btn btn-lg btn-primary btn-block" (click) = "validateLogin();"type="button">login</button>
</form>
</body>
</html>
